  <form action="/" class="form" method="post">
    <label for="full-url" class="label">URL: </label>
    <input type="text" class="input" name="fullUrl" id="full-url">
    <button class="btn" type="submit">Shrink</button>
  </form>