<section class="section">
  <h2 class="section-header">URL Shortner</h2>
  <%- include('../partials/urlForm.ejs') %>
  <output class="output"> </output>
</section>
<section class="section">
  <h2 class="section-header">URL List</h2>
  <%- include('../partials/urlTable.ejs') %> 
</section>